CMakeCache.txt
CMakeFiles
Makefile
*.so
nonlinPYTHON_wrap.cxx
*.a
*.dll
*.pyd
*.moc
*.moc_parameters
ui_*.h
moc_*.cpp
*.pb.*
*_automoc.cpp
__pycache__
cmake_install.cmake
doc/html
doc/latex
doc/usg.pdf
*.pyc
brent_test
tasmet
tasmet_automoc.dir
tasmet_solvemodel
tasmet_autogen
